@import './base/normalize.css';
@import './base/reset.css';

@import './components/dropdown.css';
@import './components/slider.css';

html {
  font-size: 62.5%;
}

.dropdowns-section {
  display: flex;
  column-gap: 50px;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
